NEXT_PUBLIC_API_URL=http://localhost:4000
NEXT_PUBLIC_ANDROID_APP_URL=https://expo.dev/artifacts/eas/d3DFFq5EMswNioqQDbL3X8.apk
NEXT_PUBLIC_IOS_APP_URL=https://apps.apple.com/br/app/seu-app/id0000000000
